* {
    font-family: 'Fascinate', cursive;
    background-color: #CA3A2B;
    color: #EFEDE7;
    font-size: 1em;
    -webkit-user-select: none;
}
html {
    overflow: hidden;
}
#timer {
    margin-top: 5px;
    font-size: 2em;
}
button {
    margin-top: 15px;
    border:none;
    outline: none;
}
h1 {
    font-size: 4em;
}
h4 {
    font-size: 1em;
    margin-bottom: -15px;
}
.container-fluid {
    margin-top: 10% !important;
    vertical-align: middle;
}
.fix {
    font-size: 2.1em;
}