<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Pomodoro</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link href='https://fonts.googleapis.com/css?family=Fascinate' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="js/scripts.js"></script>
</head>
<body ng-app="myApp" class="text-center" ng-keypress="event=$event">
	<div class="container-fluid">
		<h1>Pomodoro</h1>
		<div ng-controller="CounterController" id="timer" style="display: inline">
			<div class="row">
				<div class="col-xs-3 col-sm-2 col-md-2 col-xs-offset-3 col-sm-offset-4 col-md-offset-4">
					<h4>Time</h4>
					<button ng-disabled="!fresh" ng-click="decrement();">  -  </button>
						{{ countdown_time }}
					<button ng-disabled="!fresh" ng-click="increment();">  +  </button>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2">
					<h4>Break</h4>
					<button ng-click="breakDecrement();">  -  </button>
						{{ break_count }}
					<button ng-click="breakIncrement();">  +  </button>
				</div>
			</div>
		<!-- Break text -->
		<div id="break"></div>
		<!-- Main timer -->
		<button class="fix" id="toggle" ng-keydown="key($event)" ng-click="toggleTimer()"></button><br>
		<button ng-click="reset();">Reset</button>
		</div>
	</div>
 </body>
 </html>
